@model JesparWebApplication.Models.SupplierViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container">

        <hr />
        

        @section Search{
            <form action="#" class="t-header-search-box" method="post">
                <div class="input-group">
                    <input type="text" name="Code" value="@Model.Code" class="form-control" id="inlineFormInputGroup" placeholder="Search" autocomplete="off">
                    <button class="btn btn-outline-info" type="submit"><i class="mdi mdi-arrow-right-thick"></i></button>
                </div>
            </form>

        }

        @{
            Html.RenderPartial("~/Views/Shared/Supplier/_SupplierDetails.cshtml", Model);
        }





        @*<form method="post">
            <div class="form-group row">
                <label for="colFormLabel" class="col-sm-2 col-form-label">Code</label>
                <div class="col-sm-10">
                    <input type="text" name="Code" value="@Model.Code" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabel" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input type="submit" name="btnSearch" class="form-control btn btn-outline-info" value="Search">
                </div>
            </div>
        </form>*@



    </div>

