@model Jespar.Model.Model.Supplier
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>
    <div>
       @foreach(var item in ViewBag.a)
       {
           @*@Model.*@
       }
    </div>
</body>
</html>
